<div id="app-content" ng-controller="appContentController as appContentCtrl">
    <div class="container-fluid">
        <div class="row donutWrap" ng-init="toggle()">
            <div class="col-xs-12 text-center legendbox">
                <p>Zahlen und Fakten: Tennis in der BRD.
                    <br><small>Quelle: Deutscher Tennis Bund. <a href="http://www.dtb-tennis.de/Verband/Wir-ueber-uns/Daten-Fakten">Mitgliederentwicklung seit 1948</a></small></p>
            </div>
            <div class="col-md-10">
                <div club-court-line-chart config="tennisConfig" id="lineChart"></div>
            </div>
            <div class="col-md-2">
                <div jun-sen-donut-chart config="tennisConfig"></div>
                <div atp-wta-donut-chart config="tennisConfig"></div>
                <div court-club-donut-chart config="tennisConfig"></div>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 legendbox">
                            <p class="slider-wrap">
                                <input ng-model="tennisConfig.yearCurr" type="range" min="{{tennisConfig.yearMin}}" max="2017" class="slider"> </input>
                            </p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="row">
                                <div class="col-xs-6 legendbox">
                                    <p>Yahr:
                                        <br><strong>{{tennisConfig.yearCurr}}</strong>
                                        <br>&nbsp; </p>
                                </div>
                                <div class="col-xs-6 legendbox">
                                    <p>BIP:
                                        <br> <strong>{{tennisConfig.bipCurr}}</strong>
                                        <br><small>Mlrd. EUR</small> </p>
                                </div>
                                <div class="col-xs-12 legendbox">
                                    <p class="header">Superstars</p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p>ATP:
                                        <br> <strong>{{tennisConfig.currData[3]}}</strong> </p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p>WTA:
                                        <br> <strong>{{tennisConfig.currData[2]}}</strong> </p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p>Gesamt:
                                        <br> <strong>{{tennisConfig.currData[2]+tennisConfig.currData[3]}}</strong> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="row">
                                <div class="col-xs-12 legendbox">
                                    <p class="header">Mitglieder</p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p>Juniore:
                                        <br> <strong>{{tennisConfig.currData[4]/1000 | number:0}} </strong>
                                        <br> <small>Tsd.</small> </p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p>Seniore:
                                        <br> <strong>{{tennisConfig.currData[5]/1000 | number:0}} </strong>
                                        <br> <small>Tsd.</small> </p>
                                </div>
                                <div class="col-xs-4 legendbox">
                                    <p> Gesamt:
                                        <br> <strong>{{(tennisConfig.currData[4]+tennisConfig.currData[5])/1000 | number:0}} </strong>
                                        <br> <small>Tsd.</small> </p>
                                </div>
                                <div class="col-xs-6 legendbox">
                                    <p>pro Court:
                                        <br> <strong>{{(tennisConfig.currData[4]+tennisConfig.currData[5])/tennisConfig.currData[1]| number:2}}</strong> </p>
                                </div>
                                <div class="col-xs-6 legendbox">
                                    <p>pro Club:
                                        <br> <strong>{{(tennisConfig.currData[4]+tennisConfig.currData[5])/tennisConfig.currData[0]| number:2}}</strong> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 legendbox">
                            <p>Clubs:
                                <br> <strong>{{tennisConfig.currData[0]}}</strong> </p>
                            <p>Courts:
                                <br> <strong>{{tennisConfig.currData[1]}}</strong> </p>
                            <p>Courts pro Club:
                                <br> <strong>{{tennisConfig.currData[1]/tennisConfig.currData[0]| number:2}}</strong> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 legendbox">
                            <p> Die Mitgliederentwicklung hat eine große Bedeutung für Tennis.
                                <br> Nach dem Boom in den 70er und 80er Jahren ist ein starker Rückgang der Mitgliederzahlen in Vereinen Deutschlands festzustellen.</p>
                        </div>
                        <div class="col-xs-12 col-md-4 legendbox">
                            <p> Unsere interaktive Datenvisualisierung bietet einen analytischen Ansatz, der es ermöglicht spezifisches Wissen über diese Entwicklung zu erlangen.
                                <br>Dieses Wissen soll die Tennis-Gemeinschaft handlungsfähiger machen und somit dem Mitgliederrückgang entgegen wirken. </p>
                        </div>
                        <div class="col-xs-12 col-md-4 legendbox">
                            <p> Wovon hängt die Mietgliederentwicklung ab?
                                <br>Wodurch ist der Mitgliederrückgang hervorgerufen? Wie kann eine positive Mietgliederentwicklung erzeugt werden?
                                <br>Die Antworten auf diese und viele anderen Fragen können Sie finden, indem Sie die Mitgliederentwicklung und ihre Einflussfaktoren genauer betrachten. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>